<%= form_with(model: costume, local: true) do |form| %>
  <% if costume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(costume.errors.count, "error") %> prohibited this costume from being saved:</h2>

      <ul>
        <% costume.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group row my-2">
      <label class="col-sm-2 text-center my-auto">Name:</label>
      <div class="col-sm-10">
        <%= form.text_field :name, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group row my-2">
      <label class="col-sm-2 text-center my-auto">Description:</label>
      <div class="col-sm-10">
          <%= form.text_field :desc, :class => 'form-control'  %>
      </div>
    </div>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <div class="form-group row my-2">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
          <%= form.file_field :images, multiple: true, :class => 'form-control-file' %>
      </div>
    </div>
    <div class="actions my-5 text-center">
      <%= form.submit 'Save', :class => 'btn btn-primary' %>
    </div>

  </form>

<% end %>
