<div class="container  bg-white border my-5">
  <div class="row mt-4">
    <div class="col-md-10 col-6">
      <h3 class="text-center text-dark text-uppercase"><strong><%= @costume.name %></strong></h3>
    </div>
    <div class="col-md-2 col-6 text-right">
      <%= link_to 'Add More Images', add_more_images_path(@costume),{ :class => 'btn btn-primary btn-sm text-light', :remote => true } if can? :add_more_images, @costume %>
    </div>
  </div>

  <div class="row mt-5">
      <div class="col-md-6">
        <span class="h5"><%= @costume.desc %></span>
      </div>
  </div>

  <div class="row mt-5">
      <% if @costume.images.attached? %>
        <% @costume.images.order('created_at DESC').each do |image| %>
        <div class="col-md-4 mt-3">
            <%= image_tag(image, :class => 'img-fluid h-auto' )  %>
            <h6 class="text-center mt-1"><%= image.created_at.strftime('%B %-d, %Y at %I:%M %p') %></h6>
        </div>
          <% end %>
      <% end %>
  </div>
  <div class="row text-center my-4">
    <div class="col-12">
      <% if can? :update, @costume %>
        <%= link_to 'Edit', edit_costume_path(@costume), {:class => 'btn btn-primary btn-sm text-light'} %> | 
      <% end %>
      <%= link_to 'Back', costumes_path, :class => 'btn btn-info btn-sm text-light' %>
    </div>
  </div>
</div>

<!-- Modal for adding images -->
<div id="imageUploader">

</div>
