<p>
  <strong>Name:</strong>
  <%= @costume.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @costume.desc %>
</p>

<p>
  <strong>User:</strong>
  <%= @costume.user.email %>
</p>

<%= link_to 'Edit', edit_costume_path(@costume) %> |
<%= link_to 'Back', costumes_path %>
