<p>
  <strong>Name:</strong>
  <%= @costume.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @costume.desc %>
</p>

<p>
  <strong>User:</strong>
  <%= @costume.user.email %>
</p>

<% if @costume.images.attached? %>
  <p>
    <strong>Images:</strong>
    <br/>
    <% @costume.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_costume_path(@costume) %> |
<%= link_to 'Back', costumes_path %>
