<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="card mt-5">
        <div class="card-header h5 text-center">
          Log In
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label>Email address</label>
              <%= f.email_field :email, autofocus: true, :class => 'form-control' , autocomplete: "email" %>
            </div>
            <div class="form-group">
              <label>Password</label>
              <%= f.password_field :password, :class => 'form-control', autocomplete: "current-password" %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-check">
                <%= f.check_box :remember_me, :class => 'form-check-input py-1' %>
                <label class="form-check-label mt-1">Remember Me</label>
              </div>
            <% end %>
          </form>
          <%= f.submit "Log in", :class => 'btn btn-primary mt-4 btn-block mb-3' %>
          <hr>
          <div class="text-center my-3">
            <%= link_to "Forgot password?", new_password_path(resource_name), :class => 'text-primary' %>
          </div>
          <p>New to Cosplay? <%= link_to "Sign up", new_registration_path(resource_name), :class => 'text-primary mt-3'  %>  instead.</p>
            <%#= render "users/shared/links" %>
        </div>
      </div>
          <% end %>
    </div>
  </div>
</div>
