<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="card mt-5">
    <div class="card-header h5 bg-primary text-light text-center">
      Forgot your password?
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>Email:</label>
            <%= f.email_field :email, :class => 'form-control', autofocus: true, autocomplete: "email" %>
        </div>
        <%= f.submit "Reset my Password", :class => 'btn btn-primary mt-4 btn-block mb-3' %>
        <p class="text-center">OR</p>
        <%= render "users/shared/links" %>
      </form>
    </div>
  </div>

<% end %>

    </div>
  </div>
</div>
